{%- from 'components/_logo.njk' import logo -%}
{%- import 'components/elements.njk' as el -%}
{%- set page_title -%}{{ title +' : '+ site.meta.title if title else site.meta.title }}{%- endset -%}

<!doctype html>
<html lang="en" class="bg-transparent antialiased">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author }} - {{ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ '/' | url }}favicon.ico" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" crossorigin rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet" />

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ '/' | url }}_assets/img/og.png" />

    {% renderblock 'css' %}

    <script>
      if (localStorage.getItem('color-mode') === 'dark' || (window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.getItem('color-mode'))) {
        document.documentElement.classList.add('dark');
      }
    </script>

  </head>

  <body class="bg-gray-50 text-(pri-900 lg) font-serif !block" style="display: none;">

    <div class="min-h-screen flex-(& col) relative">

      <header class="p-4 flex-(& 1)">
        <hgroup class="mt-auto mx-auto flex-(& col-reverse) items-center gap-3">
          <h1 class="text-5xl font-bold">{{ site.meta.title }}</h1>
          <p>{{ logo({ title: site.meta.title }) }}</p>
        </hgroup>
        <button class="color-mode text-gray-500 fixed top-2 right-2 motion-safe:(transition) hover:(text-gray-700)" aria-label="Toggle color mode">
          <span class="block dark:(hidden)"><iconify-icon icon="mdi:weather-sunny" inline="false" class="iconify text-xl"></iconify-icon> <span class="sr-only">Switch to dark mode</span></span>
          <span class="hidden dark:(block)"><iconify-icon icon="mdi:weather-night" inline="false" class="iconify text-xl"></iconify-icon> <span class="sr-only">Switch to light mode</span></span>
        </button>
      </header>
      <main class="p-4 flex-(& 1) justify-center">
        <article>
        {{ content | safe }}
        </article>
      </main>

    </div>

    {% renderblock 'js' %}

    <script src="{{ '/' | url }}_assets/js/_app.js?v={% bust %}"></script>

  </body>

</html>