{%- macro logo(param) -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 130" width="100" height="130" role="img" class="fill-current">
  <title>{{ param.title }}</title>
  <path d="m100 0-46 130-24-70-15 42-15-42 15-44h30l9 29 16-45z" class="text-rose-500 dark:text-rose-500" />
  <path d="m15 16h30l-15 44z" class="text-slate-600 dark:text-slate-600" />
  <path d="m15 16 15 44-15 42-15-42z" class="text-cyan-500 dark:text-cyan-500" />
</svg>
{%- endmacro -%}